In [1]:
import bs4
import requests
import lxml

In [2]:
respose = requests.get('https://en.wikipedia.org/wiki/Reliance_Industries')
res = respose.text

In [3]:
reliance = bs4.BeautifulSoup(res,'lxml')

In [8]:
reliance.select('p')[1].text

'Reliance Industries Limited is an Indian multinational conglomerate company, headquartered in Mumbai. It has diverse businesses including energy, petrochemicals, natural gas, retail, telecommunications, mass media, and textiles. Reliance is one of the most profitable companies in India,[2] the largest publicly traded company in India by market capitalisation,[3] and the largest company in India as measured by revenue.[4] It is also the one of the top largest employer in India with 10,00,000 employees directly and indirectly in the world.[5][6] RIL has a market capitalisation of US$195 billion as of October 2022.[7][8]\n'

In [115]:
response = requests.get('https://www.indmoney.com').text

In [116]:
tesla = bs4.BeautifulSoup(response,'lxml')

In [117]:
tesla.select('font-semibold text-xl')

[]

In [120]:
tesla.select('h1')[0].text.replace('\n','')

'            www.indmoney.com        '

In [2]:
response1 = requests.get('https://upstox.com/')

In [3]:
tesla = bs4.BeautifulSoup(response1.content,'lxml')

In [10]:
tesla.find_all(attrs= {"class" : "rupee-symbol"})

[]

In [ ]:
tesla.select()

In [74]:
import yfinance as yf
msft = yf.Ticker("MSFT")
msft.history('5d')

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-10-06 00:00:00-04:00,247.929993,250.339996,246.080002,246.789993,20239900,0,0
2022-10-07 00:00:00-04:00,240.899994,241.320007,233.169998,234.240005,37732400,0,0
2022-10-10 00:00:00-04:00,233.050003,234.559998,226.729996,229.250000,29743600,0,0
2022-10-11 00:00:00-04:00,227.619995,229.059998,224.110001,225.410004,30474000,0,0
2022-10-12 00:00:00-04:00,225.399994,227.860001,223.960007,225.750000,21891300,0,0

In [10]:
str = "Company Name:" 
str1 = "Last Price :" 
strr = str+'\n'+str1
print(strr)

Company Name:
Last Price :

In [8]:
strr

'Company Name:\nLast Price :'

In [4]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.10-py2.py3-none-any.whl (242 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 242.1/242.1 kB 491.1 kB/s eta 0:00:001m566.9 kB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.0.10

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('company_stock.csv')

In [3]:
df

      Company Name  Last Price  % Chg    52 wk  52 wk.1  Market Cap
0         Reliance     2405.80  -1.09  2856.15  2180.00  1627711.23
1              TCS     3118.55   1.75  4043.00  2926.10  1141093.47
2        HDFC Bank     1415.00  -1.10  1725.00  1271.60   788149.20
3          Infosys     1462.65   0.79  1953.90  1355.00   615457.89
4       ICICI Bank      881.75  -0.09   936.65   642.15   614435.65
..             ...         ...    ...      ...      ...         ...
95   Hero Motocorp     2570.50  -2.07  2950.00  2146.85    51364.30
96       MOTHERSON       75.70  -1.30   171.87    68.50    51297.51
97             UPL      683.00  -1.08   848.00   607.50    51266.50
98  Schaeffler Ind     3268.10  -0.78  3969.85  1415.00    51081.60
99           Trent     1431.85  -1.30  1522.50   970.60    50900.47

[100 rows x 6 columns]

In [10]:
a = [i.lower for i in df['Company Name'].values]

In [11]:
a

[<function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>,
 <function str.lower()>]

In [19]:
def lower(x):
    y = x.lower()
    return y

In [20]:
df['Company Name'].apply(lambda x: lower(x))

0           reliance
1                tcs
2          hdfc bank
3            infosys
4         icici bank
           ...
95     hero motocorp
96         motherson
97               upl
98    schaeffler ind
99             trent
Name: Company Name, Length: 100, dtype: object

In [29]:
df['Company Name'].apply(lambda x: x.lower())

0           reliance
1                tcs
2          hdfc bank
3            infosys
4         icici bank
           ...
95     hero motocorp
96         motherson
97               upl
98    schaeffler ind
99             trent
Name: Company Name, Length: 100, dtype: object

In [25]:
a = []
for i in df['Company Name'].values:
    b = i.lower()
    a.append(b)
print(a)

['reliance', 'tcs', 'hdfc bank', 'infosys', 'icici bank', 'hul', 'sbi', 'bharti airtel', 'bajaj finance', 'hdfc', 'itc', 'lic india', 'adani enterpris', 'kotak mahindra', 'adani trans', 'adani total gas', 'adani green ene', 'asian paints', 'avenue supermar', 'larsen', 'bajaj finserv', 'maruti suzuki', 'hcl tech', 'axis bank', 'titan company', 'sun pharma', 'wipro', 'nestle', 'ultratechcement', 'adani ports', 'ongc', 'jsw steel', 'ntpc', 'm&m', 'power grid corp', 'coal india', 'adani power', 'pidilite ind', 'tata motors', 'tata steel', 'sbi life insura', 'hind zinc', 'hdfc life', 'vedanta', 'grasim', 'bajaj auto', 'ambuja cements', 'tech mahindra', 'siemens', 'divis labs', 'eicher motors', 'adani wilmar', 'ioc', 'indusind bank', 'dabur india', 'hindalco', 'britannia', 'dlf', 'cipla', 'godrej consumer', 'havells india', 'sbi card', 'l&t infotech', 'hindustan aeron', 'bharat elec', 'shree cements', 'srf', 'bajaj holdings', 'icici prudentia', 'dr reddys labs', 'varun beverages', 'tata power', 'tata cons. prod', 'abb india', 'interglobe avi', 'bank of baroda', 'marico', 'bpcl', 'apollo hospital', 'united spirits', 'fsn e-co nykaa', 'berger paints', 'chola invest.', 'zomato', 'gail', 'irctc', 'page industries', 'jsw energy', 'icici lombard', 'mindtree', 'torrent pharma', 'tata elxsi', 'indus towers', 'tube investment', 'patanjali foods', 'hero motocorp', 'motherson', 'upl', 'schaeffler ind', 'trent']

In [33]:
df['Company Name'] = pd.DataFrame(a, columns = ['Company Name'])

In [5]:
import pandas as pd
df=pd.read_csv("company_stock.csv")

In [6]:
df

      Company Name  Last Price  % Chg    52 wk  52 wk.1  Market Cap
0         Reliance     2405.80  -1.09  2856.15  2180.00  1627711.23
1              TCS     3118.55   1.75  4043.00  2926.10  1141093.47
2        HDFC Bank     1415.00  -1.10  1725.00  1271.60   788149.20
3          Infosys     1462.65   0.79  1953.90  1355.00   615457.89
4       ICICI Bank      881.75  -0.09   936.65   642.15   614435.65
..             ...         ...    ...      ...      ...         ...
95   Hero Motocorp     2570.50  -2.07  2950.00  2146.85    51364.30
96       MOTHERSON       75.70  -1.30   171.87    68.50    51297.51
97             UPL      683.00  -1.08   848.00   607.50    51266.50
98  Schaeffler Ind     3268.10  -0.78  3969.85  1415.00    51081.60
99           Trent     1431.85  -1.30  1522.50   970.60    50900.47

[100 rows x 6 columns]

In [7]:
dd=df.loc[df["Company Name"]=="HDFC",:]

In [8]:
dd

  Company Name  Last Price  % Chg   52 wk  52 wk.1  Market Cap
9         HDFC      2298.5  -1.22  3021.1   2026.0   417713.45

In [9]:
strr_company = dd["Company Name"].values[0]
strr_price = int(dd["Last Price"].values[0])

In [13]:
out = 40000 / strr_price
out

17.40644038294169

In [28]:
for i in range(100000,1000000,50000):
    print(i)

100000
150000
200000
250000
300000
350000
400000
450000
500000
550000
600000
650000
700000
750000
800000
850000
900000
950000

In [26]:
a = [i for i in range(100000,1000000,10000)]

In [25]:
a

[100000,
 101000,
 102000,
 103000,
 104000,
 105000,
 106000,
 107000,
 108000,
 109000,
 110000,
 111000,
 112000,
 113000,
 114000,
 115000,
 116000,
 117000,
 118000,
 119000,
 120000,
 121000,
 122000,
 123000,
 124000,
 125000,
 126000,
 127000,
 128000,
 129000,
 130000,
 131000,
 132000,
 133000,
 134000,
 135000,
 136000,
 137000,
 138000,
 139000,
 140000,
 141000,
 142000,
 143000,
 144000,
 145000,
 146000,
 147000,
 148000,
 149000,
 150000,
 151000,
 152000,
 153000,
 154000,
 155000,
 156000,
 157000,
 158000,
 159000,
 160000,
 161000,
 162000,
 163000,
 164000,
 165000,
 166000,
 167000,
 168000,
 169000,
 170000,
 171000,
 172000,
 173000,
 174000,
 175000,
 176000,
 177000,
 178000,
 179000,
 180000,
 181000,
 182000,
 183000,
 184000,
 185000,
 186000,
 187000,
 188000,
 189000,
 190000,
 191000,
 192000,
 193000,
 194000,
 195000,
 196000,
 197000,
 198000,
 199000,
 200000,
 201000,
 202000,
 203000,
 204000,
 205000,
 206000,
 207000,
 208000,
 209000,
 210000,
 211000,
 212000,
 213000,
 214000,
 215000,
 216000,
 217000,
 218000,
 219000,
 220000,
 221000,
 222000,
 223000,
 224000,
 225000,
 226000,
 227000,
 228000,
 229000,
 230000,
 231000,
 232000,
 233000,
 234000,
 235000,
 236000,
 237000,
 238000,
 239000,
 240000,
 241000,
 242000,
 243000,
 244000,
 245000,
 246000,
 247000,
 248000,
 249000,
 250000,
 251000,
 252000,
 253000,
 254000,
 255000,
 256000,
 257000,
 258000,
 259000,
 260000,
 261000,
 262000,
 263000,
 264000,
 265000,
 266000,
 267000,
 268000,
 269000,
 270000,
 271000,
 272000,
 273000,
 274000,
 275000,
 276000,
 277000,
 278000,
 279000,
 280000,
 281000,
 282000,
 283000,
 284000,
 285000,
 286000,
 287000,
 288000,
 289000,
 290000,
 291000,
 292000,
 293000,
 294000,
 295000,
 296000,
 297000,
 298000,
 299000,
 300000,
 301000,
 302000,
 303000,
 304000,
 305000,
 306000,
 307000,
 308000,
 309000,
 310000,
 311000,
 312000,
 313000,
 314000,
 315000,
 316000,
 317000,
 318000,
 319000,
 320000,
 321000,
 322000,
 323000,
 324000,
 325000,
 326000,
 327000,
 328000,
 329000,
 330000,
 331000,
 332000,
 333000,
 334000,
 335000,
 336000,
 337000,
 338000,
 339000,
 340000,
 341000,
 342000,
 343000,
 344000,
 345000,
 346000,
 347000,
 348000,
 349000,
 350000,
 351000,
 352000,
 353000,
 354000,
 355000,
 356000,
 357000,
 358000,
 359000,
 360000,
 361000,
 362000,
 363000,
 364000,
 365000,
 366000,
 367000,
 368000,
 369000,
 370000,
 371000,
 372000,
 373000,
 374000,
 375000,
 376000,
 377000,
 378000,
 379000,
 380000,
 381000,
 382000,
 383000,
 384000,
 385000,
 386000,
 387000,
 388000,
 389000,
 390000,
 391000,
 392000,
 393000,
 394000,
 395000,
 396000,
 397000,
 398000,
 399000,
 400000,
 401000,
 402000,
 403000,
 404000,
 405000,
 406000,
 407000,
 408000,
 409000,
 410000,
 411000,
 412000,
 413000,
 414000,
 415000,
 416000,
 417000,
 418000,
 419000,
 420000,
 421000,
 422000,
 423000,
 424000,
 425000,
 426000,
 427000,
 428000,
 429000,
 430000,
 431000,
 432000,
 433000,
 434000,
 435000,
 436000,
 437000,
 438000,
 439000,
 440000,
 441000,
 442000,
 443000,
 444000,
 445000,
 446000,
 447000,
 448000,
 449000,
 450000,
 451000,
 452000,
 453000,
 454000,
 455000,
 456000,
 457000,
 458000,
 459000,
 460000,
 461000,
 462000,
 463000,
 464000,
 465000,
 466000,
 467000,
 468000,
 469000,
 470000,
 471000,
 472000,
 473000,
 474000,
 475000,
 476000,
 477000,
 478000,
 479000,
 480000,
 481000,
 482000,
 483000,
 484000,
 485000,
 486000,
 487000,
 488000,
 489000,
 490000,
 491000,
 492000,
 493000,
 494000,
 495000,
 496000,
 497000,
 498000,
 499000,
 500000,
 501000,
 502000,
 503000,
 504000,
 505000,
 506000,
 507000,
 508000,
 509000,
 510000,
 511000,
 512000,
 513000,
 514000,
 515000,
 516000,
 517000,
 518000,
 519000,
 520000,
 521000,
 522000,
 523000,
 524000,
 525000,
 526000,
 527000,
 528000,
 529000,
 530000,
 531000,
 532000,
 533000,
 534000,
 535000,
 536000,
 537000,
 538000,
 539000,
 540000,
 541000,
 542000,
 543000,
 544000,
 545000,
 546000,
 547000,
 548000,
 549000,
 550000,
 551000,
 552000,
 553000,
 554000,
 555000,
 556000,
 557000,
 558000,
 559000,
 560000,
 561000,
 562000,
 563000,
 564000,
 565000,
 566000,
 567000,
 568000,
 569000,
 570000,
 571000,
 572000,
 573000,
 574000,
 575000,
 576000,
 577000,
 578000,
 579000,
 580000,
 581000,
 582000,
 583000,
 584000,
 585000,
 586000,
 587000,
 588000,
 589000,
 590000,
 591000,
 592000,
 593000,
 594000,
 595000,
 596000,
 597000,
 598000,
 599000,
 600000,
 601000,
 602000,
 603000,
 604000,
 605000,
 606000,
 607000,
 608000,
 609000,
 610000,
 611000,
 612000,
 613000,
 614000,
 615000,
 616000,
 617000,
 618000,
 619000,
 620000,
 621000,
 622000,
 623000,
 624000,
 625000,
 626000,
 627000,
 628000,
 629000,
 630000,
 631000,
 632000,
 633000,
 634000,
 635000,
 636000,
 637000,
 638000,
 639000,
 640000,
 641000,
 642000,
 643000,
 644000,
 645000,
 646000,
 647000,
 648000,
 649000,
 650000,
 651000,
 652000,
 653000,
 654000,
 655000,
 656000,
 657000,
 658000,
 659000,
 660000,
 661000,
 662000,
 663000,
 664000,
 665000,
 666000,
 667000,
 668000,
 669000,
 670000,
 671000,
 672000,
 673000,
 674000,
 675000,
 676000,
 677000,
 678000,
 679000,
 680000,
 681000,
 682000,
 683000,
 684000,
 685000,
 686000,
 687000,
 688000,
 689000,
 690000,
 691000,
 692000,
 693000,
 694000,
 695000,
 696000,
 697000,
 698000,
 699000,
 700000,
 701000,
 702000,
 703000,
 704000,
 705000,
 706000,
 707000,
 708000,
 709000,
 710000,
 711000,
 712000,
 713000,
 714000,
 715000,
 716000,
 717000,
 718000,
 719000,
 720000,
 721000,
 722000,
 723000,
 724000,
 725000,
 726000,
 727000,
 728000,
 729000,
 730000,
 731000,
 732000,
 733000,
 734000,
 735000,
 736000,
 737000,
 738000,
 739000,
 740000,
 741000,
 742000,
 743000,
 744000,
 745000,
 746000,
 747000,
 748000,
 749000,
 750000,
 751000,
 752000,
 753000,
 754000,
 755000,
 756000,
 757000,
 758000,
 759000,
 760000,
 761000,
 762000,
 763000,
 764000,
 765000,
 766000,
 767000,
 768000,
 769000,
 770000,
 771000,
 772000,
 773000,
 774000,
 775000,
 776000,
 777000,
 778000,
 779000,
 780000,
 781000,
 782000,
 783000,
 784000,
 785000,
 786000,
 787000,
 788000,
 789000,
 790000,
 791000,
 792000,
 793000,
 794000,
 795000,
 796000,
 797000,
 798000,
 799000,
 800000,
 801000,
 802000,
 803000,
 804000,
 805000,
 806000,
 807000,
 808000,
 809000,
 810000,
 811000,
 812000,
 813000,
 814000,
 815000,
 816000,
 817000,
 818000,
 819000,
 820000,
 821000,
 822000,
 823000,
 824000,
 825000,
 826000,
 827000,
 828000,
 829000,
 830000,
 831000,
 832000,
 833000,
 834000,
 835000,
 836000,
 837000,
 838000,
 839000,
 840000,
 841000,
 842000,
 843000,
 844000,
 845000,
 846000,
 847000,
 848000,
 849000,
 850000,
 851000,
 852000,
 853000,
 854000,
 855000,
 856000,
 857000,
 858000,
 859000,
 860000,
 861000,
 862000,
 863000,
 864000,
 865000,
 866000,
 867000,
 868000,
 869000,
 870000,
 871000,
 872000,
 873000,
 874000,
 875000,
 876000,
 877000,
 878000,
 879000,
 880000,
 881000,
 882000,
 883000,
 884000,
 885000,
 886000,
 887000,
 888000,
 889000,
 890000,
 891000,
 892000,
 893000,
 894000,
 895000,
 896000,
 897000,
 898000,
 899000,
 900000,
 901000,
 902000,
 903000,
 904000,
 905000,
 906000,
 907000,
 908000,
 909000,
 910000,
 911000,
 912000,
 913000,
 914000,
 915000,
 916000,
 917000,
 918000,
 919000,
 920000,
 921000,
 922000,
 923000,
 924000,
 925000,
 926000,
 927000,
 928000,
 929000,
 930000,
 931000,
 932000,
 933000,
 934000,
 935000,
 936000,
 937000,
 938000,
 939000,
 940000,
 941000,
 942000,
 943000,
 944000,
 945000,
 946000,
 947000,
 948000,
 949000,
 950000,
 951000,
 952000,
 953000,
 954000,
 955000,
 956000,
 957000,
 958000,
 959000,
 960000,
 961000,
 962000,
 963000,
 964000,
 965000,
 966000,
 967000,
 968000,
 969000,
 970000,
 971000,
 972000,
 973000,
 974000,
 975000,
 976000,
 977000,
 978000,
 979000,
 980000,
 981000,
 982000,
 983000,
 984000,
 985000,
 986000,
 987000,
 988000,
 989000,
 990000,
 991000,
 992000,
 993000,
 994000,
 995000,
 996000,
 997000,
 998000,
 999000]

In [36]:
df.to_csv('company_stocks_lower.csv')

In [7]:
df['Company Name'].values

AttributeError: 'Series' object has no attribute 'lower'

In [22]:
dd=df[df["Company Name"]=='Reliance']

In [28]:
dd["Company Name"][0]

'Reliance'

In [29]:
df["Company Name"].values

array(['Reliance', 'TCS', 'HDFC Bank', 'Infosys', 'ICICI Bank', 'HUL',
       'SBI', 'Bharti Airtel', 'Bajaj Finance', 'HDFC', 'ITC',
       'LIC India', 'Adani Enterpris', 'Kotak Mahindra', 'Adani Trans',
       'Adani Total Gas', 'Adani Green Ene', 'Asian Paints',
       'Avenue Supermar', 'Larsen', 'Bajaj Finserv', 'Maruti Suzuki',
       'HCL Tech', 'Axis Bank', 'Titan Company', 'Sun Pharma', 'Wipro',
       'Nestle', 'UltraTechCement', 'Adani Ports', 'ONGC', 'JSW Steel',
       'NTPC', 'M&M', 'Power Grid Corp', 'Coal India', 'Adani Power',
       'Pidilite Ind', 'Tata Motors', 'Tata Steel', 'SBI Life Insura',
       'Hind Zinc', 'HDFC Life', 'Vedanta', 'Grasim', 'Bajaj Auto',
       'Ambuja Cements', 'Tech Mahindra', 'Siemens', 'Divis Labs',
       'Eicher Motors', 'Adani Wilmar', 'IOC', 'IndusInd Bank',
       'Dabur India', 'Hindalco', 'Britannia', 'DLF', 'Cipla',
       'Godrej Consumer', 'Havells India', 'SBI Card', 'L&T Infotech',
       'Hindustan Aeron', 'Bharat Elec', 'Shree Cements', 'SRF',
       'Bajaj Holdings', 'ICICI Prudentia', 'Dr Reddys Labs',
       'Varun Beverages', 'Tata Power', 'TATA Cons. Prod', 'ABB India',
       'Interglobe Avi', 'Bank of Baroda', 'Marico', 'BPCL',
       'Apollo Hospital', 'United Spirits', 'FSN E-Co Nykaa',
       'Berger Paints', 'Chola Invest.', 'Zomato', 'GAIL', 'IRCTC',
       'Page Industries', 'JSW Energy', 'ICICI Lombard', 'Mindtree',
       'Torrent Pharma', 'Tata Elxsi', 'INDUS TOWERS', 'Tube Investment',
       'Patanjali Foods', 'Hero Motocorp', 'MOTHERSON', 'UPL',
       'Schaeffler Ind', 'Trent'], dtype=object)

In [31]:
import re

my_list = ['webcam', 'home', 'Space', 'Maybe later', 'Webcamnew']
for item in my_list:
    if re.match("WeBcaM",item, flags=re.I): # re.I == re.IGNORECASE
        print (item)

webcam
Webcamnew

In [15]:
ll = []
def list_company():
    for i in df['Company Name'].values:
        ll.append(i)
        return ll

list_company()

['Reliance']

In [3]:
import rasa

In [6]:
from rasa_sdk.events import Restarted

In [61]:
from googlesearch import search

In [65]:
ll=[]

for i in search("Reliance ",num=5,stop=3):
    ll.append(i)

In [66]:
ll

['http://www.ril.com/',
 'https://en.wikipedia.org/wiki/Reliance_Industries',
 'https://www.business-standard.com/article/technology/reliance-jio-true-5g-what-is-it-availability-supported-devices-and-more-122101000469_1.html']

In [67]:
for i in ll:
    if "en.wikipedia.org" in i:
        print(i)

https://en.wikipedia.org/wiki/Reliance_Industries

In [57]:
def company_details(df,company_name):
    dd=df.loc[df["Company Name"]==company_name,:]
    # print(dd["Company Name"].values[0])
    strr="Company Name:"+dd["Company Name"].values[0]+"Last Price :"+str(dd["Last Price"].values[0])
    print(strr)

In [58]:
company_details(df,"Reliance")

Company Name:RelianceLast Price :2405.8

In [60]:
df.to_csv("/home/muthu/Rasa/company_stock.csv")

In [ ]:
sql ="CREATE TABLE {} (company varchar(32) ,last_price float,perct_change float,ftw_high float,ftw_low float,market_cap float,about_company varchar(8000))"

In [5]:
import pyodbc 
def database_create(first_name):
    data_base = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-LK0C0MK\SQLEXPRESS;'
                      'Database=connecting;'
                      'Trusted_Connection=yes;')

    cursor = data_base.cursor()
    sql ="CREATE TABLE {} (company varchar(32) ,last_price float,perct_change float,ftw_high float,ftw_low float,market_cap float,about_company varchar(8000))"
    cursor = data_base.execute(sql.format(first_name))

    cursor.commit()
    sql1 = 'select * from {}'
    result=cursor.execute(sql1.format(first_name)).fetchall()
    return result

In [8]:
database_create('stock')

[]

In [5]:
import pyodbc 
def database_create(first_name):
    data_base = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-LK0C0MK\SQLEXPRESS;'
                      'Database=connecting;'
                      'Trusted_Connection=yes;')

    cursor = data_base.cursor()

    cursor = data_base.execute("CREATE TABLE ? (company varchar(32) ,last_price float,perct_change float,ftw_high float,ftw_low float,market_cap float,about_company varchar(8000))",first_name)

    cursor.commit()

    result=cursor.execute("select * from ?",first_name).fetchall()
    return result

In [6]:
database_create('stock_data1')

ProgrammingError: ('42000', "[42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Incorrect syntax near '@P1'. (102) (SQLExecDirectW); [42000] [Microsoft][ODBC SQL Server Driver][SQL Server]Statement(s) could not be prepared. (8180)")

In [127]:
import pyodbc 
def database_create():
    data_base = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP-LK0C0MK\SQLEXPRESS;'
                      'Database=connecting;'
                      'Trusted_Connection=yes;')

    cursor = data_base.cursor()

    cursor = data_base.execute('''
		CREATE TABLE vijay (
			company varchar(32) ,
			last_price float,
			perct_change float,
			ftw_high float,
			ftw_low float,
			market_cap float,
			about_company varchar(8000)
			)
               ''')

    cursor.commit()

    result=cursor.execute("select * from vijay").fetchall()
    return result

In [128]:
database_create()

[]

In [25]:
import pyodbc

def database():
    data_base=pyodbc.connect('Driver={SQL Server};'
                    'Server=DESKTOP-LK0C0MK\SQLEXPRESS;'
                    'Database=connecting;'
                    'Trusted_Connection=yes;')
    cursor=data_base.cursor()
    # result=db_cursor.execute("select * from medibot_database.dbo.appointment_table where appointment_no = ?",appointment_no).fetchall()
    result=cursor.execute("select * from stock_data").fetchall()
    return result

In [26]:
database()

[('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('TCS', 30.0, 1.2, 50.0, 70.0, 80.0, 'Very good')]

In [27]:
import pyodbc

def database():
    data_base=pyodbc.connect('Driver={SQL Server};'
                    'Server=DESKTOP-LK0C0MK\SQLEXPRESS;'
                    'Database=connecting;'
                    'Trusted_Connection=yes;')
    cursor=data_base.cursor()

    sql = "insert into stock_data(company,last_price,perct_change,ftw_high,ftw_low,market_cap,about_company) values (?,?,?,?,?,?,?)"
    val = ("Reliance",20.6,5.02,5.66,66.33,88.36,"good")
    cursor = data_base.execute(sql, val)
    cursor.commit()

    result=cursor.execute("select * from stock_data").fetchall()
    return result

In [28]:
database()

[('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('TCS', 30.0, 1.2, 50.0, 70.0, 80.0, 'Very good'),
 ('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good')]

In [29]:
import pyodbc

def database():
    data_base=pyodbc.connect('Driver={SQL Server};'
                    'Server=DESKTOP-LK0C0MK\SQLEXPRESS;'
                    'Database=connecting;'
                    'Trusted_Connection=yes;')
    cursor=data_base.cursor()

    sql = "insert into stock_data(company,last_price,perct_change,ftw_high,ftw_low,market_cap,about_company) values (?,?,?,?,?,?,?)"
    val = ("TCS",30,1.2,50,70,80,"Very good")
    cursor = cursor.execute(sql, val)
    cursor.commit()

    result=cursor.execute("select * from stock_data").fetchall()
    return result

In [30]:
database()

[('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('TCS', 30.0, 1.2, 50.0, 70.0, 80.0, 'Very good'),
 ('Reliance', 20.6, 5.02, 5.66, 66.33, 88.36, 'good'),
 ('TCS', 30.0, 1.2, 50.0, 70.0, 80.0, 'Very good')]

In [40]:
import pandas as pd

In [78]:
strr0 = "Reliance"
strr1 = "1000"
strr2 = "1.2" 
strr3 = "1026"
strr4 = "963"
strr5 = "1240512"

In [53]:
df = pd.DataFrame([strr0], columns=['Comapany'])

In [54]:
df

  Comapany
0      TCS

In [72]:
df = pd.DataFrame()
df1 = pd.DataFrame()

In [79]:
df1['Comapany'] = [strr0]
df1['Last Price'] = [strr1]
df1['% Chg'] = [strr2]
df1['High'] = [strr3]
df1['Low'] = [strr4]
df1['Market cap'] = [strr5]

In [115]:
df1

   Comapany Last Price % Chg  High  Low Market cap
0  Reliance       1000   1.2  1026  963    1240512

In [81]:
df = pd.concat((df,df1),axis=0)

In [130]:
df

   Comapany Last Price % Chg  High  Low Market cap
0       TCS       1000   1.2  1026  963    1240512
0  Reliance       1000   1.2  1026  963    1240512

In [129]:
df.columns.str == 'o'

False

In [83]:
import pickle

In [102]:
with open(r'C:\Users\Santhosh\rasa\actions\database.pickle', "wb") as f:
    pickle.dump(df, f)

   Comapany Last Price % Chg  High  Low Market cap
0       TCS       1000   1.2  1026  963    1240512
0  Reliance       1000   1.2  1026  963    1240512

In [109]:
with open(r'C:\Users\Santhosh\rasa\actions\database.pickle', "ab+") as f:
    f.seek(0)
    print(pickle.load(f))

   Comapany Last Price  % Chg     High     Low  Market cap
0       TCS       1000    1.2     1026     963     1240512
0  Reliance       1000    1.2     1026     963     1240512
0       TCS    3118.55   1.75   4043.0  2926.1  1141093.47
0  Reliance     2405.8  -1.09  2856.15  2180.0  1627711.23

In [111]:
a = pd.DataFrame(
    columns= ['Comapany','Last Price','% Chg','High','Low','Market cap']
)

In [112]:
a

Empty DataFrame
Columns: [Comapany, Last Price, % Chg, High, Low, Market cap]
Index: []

In [118]:
df

   Comapany Last Price % Chg  High  Low Market cap
0       TCS       1000   1.2  1026  963    1240512
0  Reliance       1000   1.2  1026  963    1240512

In [116]:
con = pd.concat((df,a),axis=0)

In [117]:
con

   Comapany Last Price % Chg  High  Low Market cap
0       TCS       1000   1.2  1026  963    1240512
0  Reliance       1000   1.2  1026  963    1240512

In [113]:
with open ('muthu.pickle', "wb") as f:
        pickle.dump(a,f)

In [114]:
with open('muthu.pickle', "ab+") as f:
    f.seek(0)
    print(pickle.load(f))

Empty DataFrame
Columns: [Comapany, Last Price, % Chg, High, Low, Market cap]
Index: []

In [17]:
import time
time.ctime().replace(" ","_").replace(":","_")

# time.ctime()

'Mon_Oct_17_16_16_05_2022'

In [29]:
a = {'entity': 'account_number', 'start': 13, 'end': 18, 'confidence_entity': 0.9971513152122498, 'value': '40000', 'extractor': 'DIETClassifier'}

In [30]:
a

{'entity': 'account_number',
 'start': 13,
 'end': 18,
 'confidence_entity': 0.9971513152122498,
 'value': '40000',
 'extractor': 'DIETClassifier'}

In [35]:
b = int(a['value'])

In [37]:
type(b)

int

In [19]:
a ={"wors" : ["Hi",'Hello',"Muthu", "organiastion"]}

In [20]:
a

{'wors': ['Hi', 'Hello', 'Muthu', 'organiastion']}

In [11]:
ll= []
long = ''
for i in a.values():
    print (i)
    for j in i:
        print(j)
        ll.append(len(j))
        for x in ll:
            print(x)
        if x == max(ll):
            long=j

{'Muthu', 'Hello', 'Hi', 'organiastion'}
Muthu
5
Hello
5
5
Hi
5
5
2
organiastion
5
5
2
12

In [12]:
long

'organiastion'

In [9]:
ll

[5, 5, 2, 12]

In [13]:
import numpy as np

In [40]:
ll= []
long = ''
for i in a.values():
    # print (i)
    for j in i:
        # print(j)
        ll.append(len(j))

ll = np.array(ll)
long_len = np.where(ll==max(ll))[0][0]
a['wors'][long_len]

'organiastion'

In [41]:
long_len

3