In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("matches.csv")

In [4]:
df

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,4/5/2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,4/6/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,4/7/2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,4/8/2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,4/8/2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
631,632,2016,Raipur,5/22/2016,Delhi Daredevils,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,6,V Kohli,Shaheed Veer Narayan Singh International Stadium,A Nand Kishore,BNJ Oxenford,NaN
632,633,2016,Bangalore,5/24/2016,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Royal Challengers Bangalore,0,4,AB de Villiers,M Chinnaswamy Stadium,AK Chaudhary,HDPK Dharmasena,NaN
633,634,2016,Delhi,5/25/2016,Sunrisers Hyderabad,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Sunrisers Hyderabad,22,0,MC Henriques,Feroz Shah Kotla,M Erasmus,C Shamshuddin,NaN
634,635,2016,Delhi,5/27/2016,Gujarat Lions,Sunrisers Hyderabad,Sunrisers Hyderabad,field,normal,0,Sunrisers Hyderabad,0,4,DA Warner,Feroz Shah Kotla,M Erasmus,CK Nandan,NaN
635,636,2016,Bangalore,5/29/2016,Sunrisers Hyderabad,Royal Challengers Bangalore,Sunrisers Hyderabad,bat,normal,0,Sunrisers Hyderabad,8,0,BCJ Cutting,M Chinnaswamy Stadium,HDPK Dharmasena,BNJ Oxenford,NaN

In [9]:
list(df['team1'].unique())

['Sunrisers Hyderabad',
 'Mumbai Indians',
 'Gujarat Lions',
 'Rising Pune Supergiant',
 'Royal Challengers Bangalore',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Kings XI Punjab',
 'Chennai Super Kings',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Rising Pune Supergiants']

In [10]:
all = list(df['team1'].unique())
all = ',\n'.join(all)

In [19]:
str(df['winner'].value_counts())

'Mumbai Indians                 92\nChennai Super Kings            79\nKolkata Knight Riders          77\nRoyal Challengers Bangalore    73\nKings XI Punjab                70\nRajasthan Royals               63\nDelhi Daredevils               62\nSunrisers Hyderabad            42\nDeccan Chargers                29\nGujarat Lions                  13\nPune Warriors                  12\nRising Pune Supergiant         10\nKochi Tuskers Kerala            6\nRising Pune Supergiants         5\nName: winner, dtype: int64'

In [26]:
most = str(df['winner'].value_counts())
most

'Mumbai Indians                 92\nChennai Super Kings            79\nKolkata Knight Riders          77\nRoyal Challengers Bangalore    73\nKings XI Punjab                70\nRajasthan Royals               63\nDelhi Daredevils               62\nSunrisers Hyderabad            42\nDeccan Chargers                29\nGujarat Lions                  13\nPune Warriors                  12\nRising Pune Supergiant         10\nKochi Tuskers Kerala            6\nRising Pune Supergiants         5\nName: winner, dtype: int64'

In [5]:
type(df['player_of_match'].value_counts()[:10])

pandas.core.series.Series

In [20]:
str((df['team1'].value_counts() + df['team2'].value_counts()).sort_values(ascending= False))

'Mumbai Indians                 157\nRoyal Challengers Bangalore    152\nKings XI Punjab                148\nKolkata Knight Riders          148\nDelhi Daredevils               147\nChennai Super Kings            131\nRajasthan Royals               118\nSunrisers Hyderabad             76\nDeccan Chargers                 75\nPune Warriors                   46\nGujarat Lions                   30\nRising Pune Supergiant          16\nKochi Tuskers Kerala            14\nRising Pune Supergiants         14\ndtype: int64'

In [30]:
df['team1'].value_counts() + df['team2'].value_counts()

Chennai Super Kings            131
Deccan Chargers                 75
Delhi Daredevils               147
Gujarat Lions                   30
Kings XI Punjab                148
Kochi Tuskers Kerala            14
Kolkata Knight Riders          148
Mumbai Indians                 157
Pune Warriors                   46
Rajasthan Royals               118
Rising Pune Supergiant          16
Rising Pune Supergiants         14
Royal Challengers Bangalore    152
Sunrisers Hyderabad             76
dtype: int64

In [38]:
df['team2'].value_counts().sort_values()

Kochi Tuskers Kerala            7
Rising Pune Supergiants         7
Rising Pune Supergiant          8
Gujarat Lions                  16
Pune Warriors                  26
Sunrisers Hyderabad            30
Deccan Chargers                32
Chennai Super Kings            54
Rajasthan Royals               64
Kings XI Punjab                71
Mumbai Indians                 75
Kolkata Knight Riders          80
Royal Challengers Bangalore    82
Delhi Daredevils               84
Name: team2, dtype: int64

In [34]:
df[['date','team1','team2']][df['team1'] == 'Mumbai Indians']

          date           team1                   team2
1     4/6/2017  Mumbai Indians  Rising Pune Supergiant
23   4/22/2017  Mumbai Indians        Delhi Daredevils
43    5/6/2017  Mumbai Indians        Delhi Daredevils
46    5/8/2017  Mumbai Indians     Sunrisers Hyderabad
52   5/13/2017  Mumbai Indians   Kolkata Knight Riders
..         ...             ...                     ...
587  4/18/2016  Mumbai Indians     Sunrisers Hyderabad
596  4/25/2016  Mumbai Indians         Kings XI Punjab
618  5/13/2016  Mumbai Indians         Kings XI Punjab
622  5/15/2016  Mumbai Indians        Delhi Daredevils
629  5/21/2016  Mumbai Indians           Gujarat Lions

[82 rows x 3 columns]

In [39]:
df[['date','team1','team2']][df['team2'] == 'Mumbai Indians']

          date                        team1           team2
6     4/9/2017        Kolkata Knight Riders  Mumbai Indians
9    4/12/2017          Sunrisers Hyderabad  Mumbai Indians
11   4/14/2017  Royal Challengers Bangalore  Mumbai Indians
15   4/16/2017                Gujarat Lions  Mumbai Indians
21   4/20/2017              Kings XI Punjab  Mumbai Indians
..         ...                          ...             ...
592  4/23/2016             Delhi Daredevils  Mumbai Indians
599  4/28/2016        Kolkata Knight Riders  Mumbai Indians
604   5/1/2016      Rising Pune Supergiants  Mumbai Indians
612   5/8/2016          Sunrisers Hyderabad  Mumbai Indians
616  5/11/2016  Royal Challengers Bangalore  Mumbai Indians

[75 rows x 3 columns]

In [42]:
a = df[['date','team1','team2']][df['team1'] == 'Mumbai Indians'] 
b = df[['date','team1','team2']][df['team2'] == 'Mumbai Indians']

In [48]:
b.merge(a)

Empty DataFrame
Columns: [date, team1, team2]
Index: []

In [51]:
df.loc[:,['team1','team2']]

                           team1                        team2
0            Sunrisers Hyderabad  Royal Challengers Bangalore
1                 Mumbai Indians       Rising Pune Supergiant
2                  Gujarat Lions        Kolkata Knight Riders
3         Rising Pune Supergiant              Kings XI Punjab
4    Royal Challengers Bangalore             Delhi Daredevils
..                           ...                          ...
631             Delhi Daredevils  Royal Challengers Bangalore
632                Gujarat Lions  Royal Challengers Bangalore
633          Sunrisers Hyderabad        Kolkata Knight Riders
634                Gujarat Lions          Sunrisers Hyderabad
635          Sunrisers Hyderabad  Royal Challengers Bangalore

[636 rows x 2 columns]

In [5]:
df[['date','team1','team2','winner']][(df["team1"]=="Mumbai Indians") | (df["team2"]=="Mumbai Indians")]

,date,team1,team2,winner
1,4/6/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant
6,4/9/2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians
9,4/12/2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians
11,4/14/2017,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians
15,4/16/2017,Gujarat Lions,Mumbai Indians,Mumbai Indians
...,...,...,...,...
612,5/8/2016,Sunrisers Hyderabad,Mumbai Indians,Sunrisers Hyderabad
616,5/11/2016,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians
618,5/13/2016,Mumbai Indians,Kings XI Punjab,Kings XI Punjab
622,5/15/2016,Mumbai Indians,Delhi Daredevils,Mumbai Indians
629,5/21/2016,Mumbai Indians,Gujarat Lions,Gujarat Lions

In [28]:
def fib(x):
    a= 0
    b = 1
    print(a)
    print(b)
    for i in range(x):
        c = a+b
        if c>x:
            break
        print(c)
        a = b
        b = c

fib(10)

0
1
1
2
3
5
8

In [19]:
b

[1, 3, 5, 7, 9, 11, 13, 15, 17]

In [8]:
x = df[['date','team1','team2','winner','umpire1','umpire2']][(df["team1"]=="Mumbai Indians") | (df["team2"]=="Mumbai Indians")]
x.umpire1.value_counts()[:10]

HDPK Dharmasena    27
Asad Rauf          13
AK Chaudhary       12
BR Doctrove        12
S Ravi             11
BF Bowden          10
Aleem Dar           7
Nitin Menon         7
M Erasmus           7
A Nand Kishore      5
Name: umpire1, dtype: int64

In [9]:
df[['date','team1','team2','winner','umpire1','umpire2']][(df["team1"]=="Mumbai Indians") | (df["team2"]=="Mumbai Indians")][:10]

,date,team1,team2,winner,umpire1,umpire2
1,4/6/2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,A Nand Kishore,S Ravi
6,4/9/2017,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,Nitin Menon,CK Nandan
9,4/12/2017,Sunrisers Hyderabad,Mumbai Indians,Mumbai Indians,Nitin Menon,CK Nandan
11,4/14/2017,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,KN Ananthapadmanabhan,AK Chaudhary
15,4/16/2017,Gujarat Lions,Mumbai Indians,Mumbai Indians,A Nand Kishore,S Ravi
21,4/20/2017,Kings XI Punjab,Mumbai Indians,Mumbai Indians,M Erasmus,C Shamshuddin
23,4/22/2017,Mumbai Indians,Delhi Daredevils,Mumbai Indians,A Nand Kishore,S Ravi
27,4/24/2017,Rising Pune Supergiant,Mumbai Indians,Rising Pune Supergiant,A Nand Kishore,S Ravi
33,4/29/2017,Gujarat Lions,Mumbai Indians,Mumbai Indians,AK Chaudhary,CB Gaffaney
36,5/1/2017,Royal Challengers Bangalore,Mumbai Indians,Mumbai Indians,AK Chaudhary,CB Gaffaney

In [10]:
pd.concat([x.umpire1,x.umpire2],axis =0).value_counts()[:10]

HDPK Dharmasena    29
S Ravi             23
SJA Taufel         17
AK Chaudhary       16
BR Doctrove        14
Asad Rauf          13
CK Nandan          13
VA Kulkarni        12
C Shamshuddin      12
M Erasmus          11
dtype: int64

In [13]:
def umpire_count():
    x = df[['date','team1','team2','winner','umpire1','umpire2']][(df["team1"]=="Mumbai Indians") | (df["team2"]=="Mumbai Indians")]
    return pd.concat([x.umpire1,x.umpire2],axis =0).value_counts()

umpire_count()

HDPK Dharmasena          29
S Ravi                   23
SJA Taufel               17
AK Chaudhary             16
BR Doctrove              14
Asad Rauf                13
CK Nandan                13
VA Kulkarni              12
C Shamshuddin            12
M Erasmus                11
SK Tarapore              11
BF Bowden                10
RJ Tucker                 9
RE Koertzen               8
Nitin Menon               8
DJ Harper                 8
S Asnani                  7
Aleem Dar                 7
AM Saheba                 7
RK Illingworth            6
BNJ Oxenford              6
CB Gaffaney               6
A Nand Kishore            6
K Hariharan               5
NJ Llong                  4
RB Tiffin                 4
K Srinath                 3
PR Reiffel                3
S Das                     3
BG Jerling                3
JD Cloete                 3
SS Hazare                 3
SL Shastri                2
KN Ananthapadmanabhan     2
AL Hill                   2
IL Howell                 2
AV Jayaprakash            2
GA Pratapkumar            2
MR Benson                 2
AY Dandekar               2
SD Fry                    2
VK Sharma                 2
A Deshmukh                1
TH Wijewardene            1
SJ Davis                  1
K Srinivasan              1
dtype: int64

In [34]:
class keerthi():

    def disp(self,d):
        self.d=d
        print(self.d)

In [39]:
w=keerthi()

In [37]:
w.disp(10)

10

In [31]:
s=keerthi()

In [33]:
s.disp()

15

In [55]:
def toss_winner():
    out = df['toss_winner'][(df['team1'] == 'Chennai Super Kings') | (df['team2'] == 'Chennai Super Kings')].value_counts()
    return out

toss_winner()

Chennai Super Kings            66
Mumbai Indians                 13
Rajasthan Royals               12
Kolkata Knight Riders           8
Kings XI Punjab                 6
Royal Challengers Bangalore     6
Delhi Daredevils                6
Deccan Chargers                 5
Pune Warriors                   4
Sunrisers Hyderabad             4
Kochi Tuskers Kerala            1
Name: toss_winner, dtype: int64

In [71]:
a = np.array(df['toss_winner'][df['toss_winner'] == 'Mumbai Indians'].value_counts())

In [72]:
b = np.array(df['winner'][(df['toss_winner'] == 'Mumbai Indians') & (df['winner'] == 'Mumbai Indians')].value_counts())

In [4]:
def winning_perc():
    a = np.array(df['toss_winner'][df['toss_winner'] == 'Mumbai Indians'].value_counts())
    b = np.array(df['winner'][(df['toss_winner'] == 'Mumbai Indians') & (df['winner'] == 'Mumbai Indians')].value_counts())
    out = list((b/a)*100)
    return out

winning_perc()

[56.470588235294116]

In [77]:
(b/a)*100

array([56.47058824])

In [52]:
def toss_dec():
    toss = df['toss_decision'][(df['team1'] == 'Mumbai Indians') | (df['team2'] == 'Mumbai Indians')].value_counts()
    return toss

toss_dec()

field    87
bat      70
Name: toss_decision, dtype: int64

In [58]:
def most_venue():
    venue = df['venue'][(df['team1'] == 'Mumbai Indians') | (df['team2'] == 'Mumbai Indians')].value_counts()
    return venue

most_venue()

Wankhede Stadium                                        53
Eden Gardens                                            11
M Chinnaswamy Stadium                                   10
Feroz Shah Kotla                                         9
Brabourne Stadium                                        8
Rajiv Gandhi International Stadium, Uppal                8
Dr DY Patil Sports Academy                               7
Punjab Cricket Association Stadium, Mohali               6
MA Chidambaram Stadium, Chepauk                          6
Sawai Mansingh Stadium                                   5
Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium      4
SuperSport Park                                          3
Dubai International Cricket Stadium                      3
Kingsmead                                                3
St George's Park                                         3
Subrata Roy Sahara Stadium                               2
Sardar Patel Stadium, Motera                             2
Maharashtra Cricket Association Stadium                  2
Buffalo Park                                             2
New Wanderers Stadium                                    1
Newlands                                                 1
Himachal Pradesh Cricket Association Stadium             1
Sheikh Zayed Stadium                                     1
Saurashtra Cricket Association Stadium                   1
Sharjah Cricket Stadium                                  1
Barabati Stadium                                         1
Holkar Cricket Stadium                                   1
Punjab Cricket Association IS Bindra Stadium, Mohali     1
Green Park                                               1
Name: venue, dtype: int64

In [ ]:
df['venue'][(df['team1'] == 'Mumbai Indians') | (df['team2'] == 'Mumbai Indians')].value_counts()